body{
  background-image: url('stock2.jpg');
  background-size: repeat ;
}
table{
  border-collapse: separate;
}
td{
  padding:10px;
}
th{
  background-color: #4CAF50;
  color: white;
}
th,td{
  border: 1.5px solid black;
}
.date {
  width: 40px;
  text-align: center;
}
.grid{
  display:grid;
  grid-template-columns: 1fr 5fr;
}
@media(max-width:989px){
  .range{
    width:130px;
  }
}
.range1{
  width:150px;
  text-align: center;
}
.monthindex{
  display : inline-block;
  margin : 10px;
}
